# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code
.vscode/
*.code-workspace

# TypeScript
dist/
build/
*.tsbuildinfo

# Playwright stuff
playwright-report/
allure-results/
allure-report/
test-results/

# OS
.DS_Store
Thumbs.db

# Env 
.env
.env.local

# Logs
*.log
test-log.txt

# Mac & Linux trash
*.swp
*.swo
.idea/
